<!doctype html>
<html>

<head>
	<title>Line Chart</title>
	<script src="https://npmcdn.com/chart.js@latest/dist/chart.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    
    <style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>

    <h1>Soil Sensor Readings</h1>
    <br>

	<div style="width:75%;">
		<canvas id="myChart"></canvas>
	</div>
	<br>
	<br>

	<script>
    // === include 'setup' then 'config' above ===
    const labels = {{graph_x|safe}};
    const y1 = {{graph_y1|safe}};
    const y2 = {{graph_y2|safe}};
    const color1 = 'rgb(255, 99, 132, 1)';
    const color2 = 'rgb(54, 162, 235, 1)';
    const bordercolor1 = 'rgb(255, 99, 132, 0.5)';
    const bordercolor2 = 'rgb(54, 162, 235, 0.5)';

    const data = {
        labels: labels,
        datasets: [{
            label: 'temperature',
            data: y1,
            backgroundColor: color1,
            borderColor: bordercolor1,
            yAxisID: 'y',
        }, {
            label: 'moisture',
            data: y2,
            backgroundColor: color2,
            borderColor: bordercolor2,
            yAxisID: 'y1',
        }]
    }
    
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            interaction: {
            mode: 'index',
            intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Soil Sensor Readings'
                }
            },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    beginAtZero: true,
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    min: 400,
                    max: 1000,
                    // grid line settings
                    grid: {
                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                },
            }
        },
    });
    </script>
</body>

</html>