<!doctype html>
<html>

<head>
	<title>Line Chart</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>

    <h1>Soil Sensor Readings</h1>
    <br>
    <br>
    Choose a Unit:
        <SELECT name="device" selected=" " onChange="location = this.value;">
            <option value="" selected disabled hidden>Choose here</option>
            {% for u in unitList %}
                <OPTION value=./garden?id={{u}}>{{u}}</option>
            {% endfor %}
        </SELECT>
        <br>
    Choose a Node:
        <SELECT name="node" selected=" " onChange="location = this.value;">
            <option value="" selected disabled hidden>Choose here</option>
            {% for n in sensorList %}
                <OPTION value=./garden?sensor={{n}}>{{n}}</option>
            {% endfor %}
        </SELECT>
    <br><br>
        <form action="/garden">
            <label for="quantity">Enter number of values:</label>
            <input type="number" id="values" name="values" value=500>
            <input type="submit" value="Submit">
        </form>
    <br>
    <h2>Unit ID: {{id}}</h2>
    <h2>Sensor ID: {{sensor}}</h2>
    <h3>Last X: {{lastX}}</h3><br>  
    <div id="main" style="width:800px;height:600px;"></div><br>
    <div id="alt" style="width:800px;height:600px;"></div><br>
    <!--<div id="second" style="width:800px;height:400px;"></div><br>-->
    <img src="{{ url_for('static', filename='assets/img/outsidePi.jpg') }}" height="510">
    

    <script>
    
    function formatTimestamp(timestamp){
        return ts = moment(timestamp)
    }

    const labels = {{graph_x|safe}};
    const labels2 = {{graph2_x|safe}};
    const y1 = {{graph_y1|safe}};
    const y2 = {{graph_y2|safe}};
    const y3 = {{graph2_y|safe}};

    const color1 = 'rgb(255, 99, 132, 1)';
    const color2 = 'rgb(54, 162, 235, 1)';
    const color3 = 'rgb(230, 191, 0, 1)';
    const bordercolor1 = 'rgb(255, 99, 132, 0.5)';
    const bordercolor2 = 'rgb(54, 162, 235, 0.5)';
    const bordercolor3 = 'rgb(230, 191, 0, 0.5)';

    const data1 = []
    const data2 = []
    const data3 = []
    const x = []
    const x2 = []

    for(i = 0; i < labels.length; i++){
        ts = formatTimestamp(labels[i]);
        ts2 = formatTimestamp(labels2[i]);
        console.log(labels[i]);
        data1.push(y1[i]);
        data2.push(y2[i]);
        data3.push(y3[i])
        x.push[labels[i]];
        x2.push[labels2[i]];
    }

    //console.log(data1);
    console.log(x);
    //console.log(data2);
    console.log(data3);
    
	var trace1 = {
    x: labels,
    y: data1,
    name: 'Temperature',
    type: 'scatter',
    mode: 'lines',
    line: {
        color: color1,
        width: 3
    }
    };

    var trace2 = {
    x: labels,
    y: data2,
    name: 'Moisture',
    yaxis: 'y2',
    type: 'scatter',
    mode: 'lines',
    line: {
        color: color2,
        width: 1
    }
    };

    
    var trace3 = {
    x: labels,
    y: data3,
    name: 'Battery Voltage',
    yaxis: 'y',
    type: 'scatter',
    mode: 'lines',
    line: {
        color: color3,
        width: 3
    }
    };

    var trace4 = {
    x: labels2,
    y: data1,
    name: 'Temperature',
    type: 'scatter',
    mode: 'lines',
    line: {
        color: color1,
        width: 3
    }
    };

    var data = [trace1, trace2, trace3];

    var layout = {
    title: 'Soil Readings',
    showlegend: true,
	legend: {
        x : 0.05,
        y : 1,
        "orientation": "v"
    },
    yaxis: {
        title: 'Temperature (&#8451;)/ Battery (V)',
        range: [0, 30]
    },
    yaxis2: {
        title: 'Moisture Content',
        //titlefont: {color: color2},
        //tickfont: {color: color2},
        overlaying: 'y',
        side: 'right',
        range: [750, 850]
    }
    };

    var dataB = [trace4];
    var layoutB = {
    title: 'Soil Readings',
    showlegend: true,
	legend: {
        x : 0.05,
        y : 1,
        "orientation": "v"
    },
    yaxis: {
        title: 'Temperature (&#8451;)/ Battery (V)',
        range: [0, 30]
    },
    yaxis2: {
        title: 'Moisture Content',
        //titlefont: {color: color2},
        //tickfont: {color: color2},
        overlaying: 'y',
        side: 'right',
        range: [750, 850]
    }
    };

    Plotly.newPlot('main', data, layout);
    Plotly.newPlot('alt', dataB, layoutB);

    </script>
</body>

</html>